:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --gray: #e1e1e6;
}

/* Resets e configurações */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;

  display: block;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}

.header-bg {
  background-color: var(--purple-bg);
}

.header {
  padding: 64px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nav a {
  color: var(--gray);
  border-left: 2px solid transparent;
  padding-left: 4px;
}

.nav a:hover {
  color: var(--white);

  border-left: 2px solid var(--green);
}

.search-input {
  max-width: 300px;
  width: 100%;

  display: flex;
  align-items: center;
}

.search-input input {
  all: unset;

  flex: 1;

  padding: 0 24px;

  height: 48px;

  background-color: var(--dark-bg);
  color: var(--light-purple);
  font-size: 14px;
}

.search-input button {
  all: unset;

  width: 48px;
  height: 48px;

  background-color: var(--button-bg);
  border-radius: 0 4px 4px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media (max-width: 900px) {
  .header {
    padding: 24px 0;

    flex-direction: column;

    gap: 8px;
  }

  .header a img {
    display: block;
  }

  .nav li {
    padding: 4px;
    gap: 12px;
  }

  .search-input {
    max-width: 50%;
    padding: 0 16px;
  }
}

@media (max-width: 600px) {
  .search-input {
    display: none;
  }
}

.hero-bg {
  background-color: var(--purple-bg);
  border-bottom: 4px solid var(--green);
}

.hero {
  margin-bottom: 64px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.hero-text h1 {
  margin-bottom: 16px;

  color: var(--button-bg);
  font-size: 36px;
}

.hero-text p {
  margin-bottom: 24px;
  padding-right: 100px;

  color: var(--light-purple);
}

.hero-button {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;
}

.hero-button span {
  color: var(--button-bg);
  font-size: 18px;
  font-weight: 700;
}

.hero-button::after {
  content: "";

  display: block;
  margin-top: 20px;
  height: 2px;
  width: 0;
  background-color: var(--green);
  position: absolute;

  transition: 0.3s;
}

.hero-button:hover::after {
  width: 100%;
}

@media (max-width: 900px) {
  .hero {
    gap: 0px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
    padding-right: 48px;
  }
}

@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    text-align: center;
  }

  .hero-text p {
    padding: 0px;
  }

  .hero-button {
    margin-bottom: 12px;
  }
}

.information-bg {
  background-color: var(--light-purple);
}

.information {
  padding-top: 64px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}

.information-content-primary {
  margin-bottom: 64px;

  display: grid;
  gap: 16px;
}

.information-content-primary h2 {
  color: var(--purple-bg);
}

.information-content-sec {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sub-information-1 {
  display: grid;
  gap: 8px;
}

.sub-information-1 h2 {
  color: var(--purple-bg);
}

.sub-information-2 {
  display: grid;
  gap: 8px;
}

.sub-information-2 h2 {
  color: var(--purple-bg);
}

@media (max-width: 900px) {
  .information {
    gap: 48px;
  }

  .information h2 {
    font-size: 22px;
  }

  .information p {
    font-size: 14px;
  }

  .information span {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .information {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .sub-information-2 {
    margin-bottom: 24px;
  }
}

.article-bg {
  background-color: var(--light-purple);
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.article {
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article h3 {
  color: var(--purple-bg);
}

@media (max-width: 900px) {
  .articles {
    gap: 14px;
  }

  .article p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
  }

  .article img {
    width: 100vw;
  }

  .article p {
    text-align: justify;
  }
}

.footer-bg {
  background-color: var(--purple-bg);
}

.footer {
  padding-top: 42px;
  padding-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer a {
  color: var(--light-purple);
}

.footer a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer-contato h3 {
  margin-bottom: 12px;
  color: var(--white);
}

.footer-contato ul {
  margin-left: 12px;

  line-height: 32px;
}

.footer-contato ul li {
  color: var(--light-purple);
}

.footer p {
  color: var(--light-purple);
}

.footer p span {
  color: var(--green);
}

@media (max-width: 600px) {
  .footer {
    padding-top: 24px;

    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-contato {
    margin-bottom: 18px;
  }
}
